.portfolio {
  margin: 0 calc(5%);
}

.portfolio__header {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #a0a0a0;
}

.portfolio__nav {
  margin: 50px 0 125px;
}

.portfolio__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.portfolio__list-link {
  display: flex;
  justify-content: space-between;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #000;
  text-decoration: none;
}

.portfolio__list-text {
  max-width: 880px;
  margin: 0;
}

.separate__line_portfolio {
  margin: 19px 0;
  width: calc(100%);
}

@media screen and (max-width: 600px) {
  .portfolio__header {
    font-size: 14px;
    line-height: 20px;
  }

  .portfolio__nav {
    margin: 40px 0 70px;
  }

  .portfolio__list-link {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__list-image {
    width: 18px;
    height: 28px;
  }
}
