.navTab {
  padding: 0 calc(35%) 30px;
  display: flex;
  justify-content: center;
}

.navTab__link {
  width: 96px;
  height: 26px;
  background: #e8e8e8;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000;
  text-decoration: none;
  margin-right: 10px;
  text-align: center;
  padding-top: 10px;
}

.navTab__link:nth-last-of-type(1) {
  margin-right: 0;
}

.navTab__link:hover {
  opacity: 0.7;
  transition: 1;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .navTab {
    padding: 0 calc(15%) 17px;
  }

  .navTab__link {
    width: 82px;
    font-size: 10px;
    line-height: 16px;
  }
}
